{{#displayUrl}}
    {{#title}}
        <a href="{{displayUrl}}">{{{_highlightResult.title.value}}}</a>
    {{/title}}
{{/displayUrl}}
{{#body}}
    <div>{{#helpers.displayTruncatedHighlightedBody}}{{/helpers.displayTruncatedHighlightedBody}}</div>
{{/body}}
{{#imageUrl}}
    <img src="{{imageUrl}}" />
{{/imageUrl}}