{{#displayUrl}}
    {{#title}}
        <a href="{{displayUrl}}">{{title}}</a>
    {{/title}}
{{/displayUrl}}
{{#body}}
    <div>{{#helpers.displayTruncatedBody}}{{/helpers.displayTruncatedBody}}</div>
{{/body}}
{{#imageUrl}}
    <img src="{{imageUrl}}" />
{{/imageUrl}}